<!DOCTYPE html>
<html>
<head>
    <% include ../partials/header.ejs %>
</head>

<body>

<% include ../partials/nav.ejs %>

<div class="container">
        <h2>Feedback</h2>

        <div class="container">
                <div class="alert alert-warning text-center" role="alert">
                        Feedback
                </div>
        </div>

</div>

</body>
</html>
